@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.outline {
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.inputArea {
  /* width: 300px; */
  height: 70px;
  background-color: lightblue;
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 15px;
}
input {
  border-radius: 16px;
  border: none;
  outline: none;
  padding: 6px 16px;
  margin-right: 10px;
}

button {
  border-radius: 16px;
  border: none;
  /* padding: 4px 16px; */
  text-align: right;
}
button:hover {
  background-color: #FF7FFF;
  color: #FFF;
  cursor: pointer;
}

/* 未完了のタスクエリア */
.incompleteArea {
  width: 800px; 
  min-height: 300px;
  background-color: lightgray;
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 15px;
}
.title {
  text-align: center;
  font-weight: bold;
}
.todoList {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* 完了のタスクエリア */
.completeArea {
  /* width: 800px; */
  min-height: 300px;
  background-color: lightgreen;
  padding: 20px;
  border-radius: 15px;

}
.title2 {
  text-align: center;
  font-weight: bold;  
}
